@media (min-width: 200px) {
  .container-fluid {
    height: 88px;
    width: 100%;
    background-color: #132b92;
  }
  .navbar-default #nav-visa, .navbar-default .navbar-form {
    border: none;
  }
  .navbar-header img {
    margin: 25px 0 0 20px;
    height: 35px;
  }
  .navbar-nav a {
    font-size: 2rem;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  }
  .navbar-nav a:hover, .navbar-nav a:focus {
    color: #f7b600
  }
  .divider {
    border: 1px solid white;
    height: 45px;
  }
  .navbar-toggle {
    margin-top: 25px;
    border: none;
  }
  .icon-bar {
    background-color: #f7b600 !important;
  }
  .fa-search, .divider {
    display: none;
  }
  #nav-visa {
    margin-top: 20px;
  }
  .navbar-toggle:hover {
    background-color: #132b92 !important;
  }
}
@media (min-width: 768px) {
  .fa-search {
    color: #f7b600;
    padding-top: 10px;
    margin-left: .5rem;
  }
  .fa-search, .divider {
    display: block;
  }
  #nav-visa a {
    color: white;
  }
  .navbar-default {
    margin-bottom: 0;
    border-bottom-width: 0;
  }
  .navbar-nav a {
    font-size: 1rem;
  }
  #nav-visa {
    width: 80%;
  }
  .fa-search {
    margin-left: .5em;
    font-weight: lighter;
  }
  #triangle {
    position: relative;
    margin-top: -32px;
    display: none;
  }
  .yellow-bar {
    height: 10px;
    background-color: #f7b600;
  }
}
@media (min-width: 940px) {
  .navbar-nav a {
    font-size: 1.5rem;
  }
  #nav-visa {
    width: 85%;
  }
}
@media (min-width: 1280px) {
  .navbar-nav a {
    font-size: 1.75rem;
  }
  #nav-visa {
    width:70%;
  }
}
